.header {
    color: var(--PrimaryColor);
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -1px;
    line-height: -1px;
    margin-top: 20px;
}

.download-button-container {
    display: flex;
    width: 100%;
    font-weight: 400;
    flex-direction: column;
    margin-top: 20px;
}

.download-button {
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: auto;
    font-size: 18px;
    color: white;
    background-color: #007bff;
    transition: background-color 0.2s ease-out, transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 2);
    text-decoration: none;
    border-radius: 5px;
    white-space: nowrap;
}

.download-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    color: white;
}

.description{
    text-align-last: left;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: var(--PrimaryColor);
}

p{
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
    color: var(--SecondaryColor);
}

.show-icon{
    width: 50%;
    height: auto;
    border-radius: 10px;
}

/* Ensuring the show-icon and the adjacent content are laid out properly */
.page1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 95%;
    margin: 100px 10px 60px 10px;
}

.show-icon {
    margin-right: 20px;
}

.header, .download-button-container {
    margin-bottom: 10px;
}

.download-button-container {
    margin-left: auto; /* Ensures the download button is to the right */
}

.description {
    flex-basis: 100%; /* Ensures description takes full width below the icon */
}

/* Making sure the elements wrap below the icon on smaller screens */
@media (max-width: 950px) {
    .show-icon {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%;
    }
    .header, .download-button-container {
        margin-left: 0;
    }
}
