body {
    background: var(--Background1);
    margin: 0;
    height: auto;
    font-family: "Radio Canada", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--SecundaryColor);
    text-align-last: left;
    scroll-snap-align: y mandatory;
}

.text{
    color: var(--PrimaryColor); /* Using the CSS variable */
}

.UpBtns{
    position: fixed;
    margin: 0;
    left: 0%;
    right: 0%;
    top: 0%;
    padding: 10px;
    border-radius: 1.5%;
    background: linear-gradient(to bottom, var(--BtnBodyBack1), var(--BtnBodyBack2));
    backdrop-filter: blur(3px);
    text-align-last: right;
}

.BlogBtn {
    position: relative;
    font-size: 24px;
    background: transparent;
    border-radius: 0px;
    border-style: none;
    box-sizing: border-box;
    color: var(--PrimaryColor);
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    padding: 2.5px 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
}

.BlogBtn .text {
    position: relative;
    z-index: 1;
    color: var(--PrimaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.BlogBtn .overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--BtnBack);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: height .35s ease-in-out;
    z-index: 0;
    border-radius: 5px;
}

.BlogBtn:hover .overlay {
    height: 100%;
}

.BlogBtn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 2.5px;
    background-color: var(--PrimaryColor);
    z-index: 2;
}



.fa-brands:hover {
    color: var(--Background2);
    transform: scale(1.2);
    transition: transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 2), color 0.15s ease-out;
}

.fa-solid:hover{
    color: var(--Background2);
    transform: scale(1.2);
    transition: transform 0.2s cubic-bezier(0.1, 0.8, 0.2, 2), color 0.15s ease-out;
}

.tugalogo{
    margin-top: 1%;
    margin-left: 0%;
    width: 64px;
}

.footer {
    position: fixed;
    height: 40px;
    width: 100vw;
    bottom: 0;
    left: 0;
    background: var(--PrimaryColor);
    color: var(--SecundaryColor);
}

.othersimage{
    margin-left: .15%;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

.footer-right-side {
    position: fixed;
    background: transparent;
    border-color: transparent;
    bottom: 0;
    right: 0;
    margin: 0;
    text-align-last: right;
    padding: 10px;
    border-radius: 0 10px 0 0;
}

.footer-left-side {
    position: fixed;
    background: transparent;
    border-color: transparent;
    bottom: 0;
    left: 0;
    margin: 0;
    text-align-last: left;
    padding: 10px;
    width: 82px;
    border-radius: 0;
}

.Hello_Text{
   position: absolute;
   margin-top: -65px;
   margin-left: 3vh;
   font-size: 48px;
   letter-spacing: -1px;
   line-height: -1px;
   font-weight: 600;
   color: var(--SecundaryColor);
}

h2{
    font-size: 32px;
    letter-spacing: -0.5px;
    line-height: -1px;
    text-indent: 10px;
}

p{
    color: var(--PrimaryColor);
    font-size: 24px;
}
h6{
    font-size: 5px;
}

.ama{
    text-align-last: center;
    font-weight: 800;
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
    font-size: 48px;
    letter-spacing: -1px;
    line-height: -1px;
    font-weight: 600;
}

.grid-container {
    display: grid;
    gap: 20px;
    margin-left: 1vh;
    margin-right: 1vh;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -1px;
    line-height: -1px;
    color: var(--PrimaryColor);
    padding-bottom: 60px;
}

.grid-item {
    border: 0px solid var(--SecundaryColor);
    background-color: var(--BtnBack);
    border-radius: 10px;
    min-height: 50vh;
    max-width: 80vh;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}
.grid-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.grid-item .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
}

.grid-item button {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: var(--SecundaryColor);
    background-color: var(--ButtonGridColor);
    cursor: pointer;
    border: 2px solid var(--SecundaryColor);
    border-radius: 5px;
}

.grid-item button:hover {
    background-color: var(--ButtonGridHover);
}

.grid-item .title {
    color: var(--PrimaryColor);
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
}

.grid-item .subtext {
    text-align: left;
    margin: 10px;
    padding: 10px;
    color: var(--SecundaryColor);
    font-weight: 400;
    font-size: 1.5rem;
    border-top: 2px solid var(--SecundaryColor);
}

.grid-item .theme {
    color: var(--SecundaryColor);
    font-size: 1.75rem;
}

/* Default to 1 column */
.grid-container {
    grid-template-columns: 1fr;
}
.grid-item {
    min-height: 80vh;
}


/* Hide heading in single-column layout */
.Hello_Text{
   display: none;
}

/* 2 columns for medium screens */
@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        margin-left: 3vh;
        margin-right: 3vh;
    }
    .grid-item {
        min-height: 70vh;
    }
    .Hello_Text{
        display: block;
    }
}

/* 3 columns for larger screens */
@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 0vh;
        margin-right: 0vh;
    }
    .grid-item {
        max-height: 70vh;
    }
}

@media (min-width: 1200px) {
    .grid-container {
        margin-left: 15vh;
        margin-right: 15vh;
    }
}