/* Disable scroll bars since scroll to top has a built in scrollbar */
*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollToTop {
    --circle-border: 6;
    position: fixed;
    bottom: 15px;
    right: 15px;
    height: 80px;
    aspect-ratio: 1;
  
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333dd;
    backdrop-filter: blur(3px);
    padding: 0;
    margin: 0;
    opacity: 0;
    transform: scale(1);
    transition: opacity 0.5s ease, transform 0.15s cubic-bezier(0.075, 0.82, 0.2, 2);
    cursor: pointer;
}

@media (max-aspect-ratio: 1/1) {
    .scrollToTop {
        left: 15px;
        right: auto;
        z-index: 1000;
    }
}

.scrollToTop.hidden {
  transform: scale(0);
  opacity: 0;
}

.cooldownRing {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.ring-progress {
  fill: none;
  stroke: #44444488;
  stroke-linecap: round;
  z-index: 0;
}

#scrollToTopText {
  position: absolute;
  color: white;
  font-family: monospace;
  font-size: 11.5px;
  z-index: 1;
  pointer-events: none;
}


.scrollToTop:hover {
    background: #444;
    transform: scale(1.1);
}

.scrollToTop:active {
    background: #555;
    transform: scale(.95);
}
