/* Tooltip base style */
.custom-tooltip {
  position: fixed;
  background: var(--bg-2);

  border-left: 2px var(--sliderBgColor) solid;
  border-top: 2px var(--sliderBgColor) solid;
  border-right: 2px var(--trackItemOnHover) solid;
  border-bottom: 2px var(--trackItemOnHover) solid;

  box-shadow: 0 6px 18px rgba(2, 6, 23, 0.6);
  color: var(--color);

  font-size: 14px;
  padding: 6px 10px;
  border-radius: 0px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, -12px);
  z-index: 9999;
}
.custom-tooltip.show {
  opacity: 1;
  transform: translate(-50%, -12px);
}
