/* Tooltip base style */
.custom-tooltip {
  position: absolute;
  background: var(--bg-2);

  border-left: 2px var(--sliderBgColor) solid;
  border-top: 2px var(--sliderBgColor) solid;
  border-right: 2px var(--trackItemOnHover) solid;
  border-bottom: 2px var(--trackItemOnHover) solid;

  box-shadow: 0 6px 18px rgba(2, 6, 23, 0.6);
  color: var(--textColor);

  max-width: 20rem;

  font-size: 14px;
  padding: 6px 10px;
  border-radius: 0px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, -12px);
  z-index: 9999;
}
.custom-tooltip.show {
  opacity: 1;
  transform: translate(-50%, -12px);
}

.custom-tooltip .custom-tooltip-header {
  margin: -6px -10px;
  margin-bottom: 0px;
  padding: 5px 4.5rem 4px 7px;
  border-bottom: 2px solid var(--activeColor);
  display: block;
}

.custom-tooltip .custom-tooltip-header.no-border {
  border-bottom: none;
  padding-bottom: 0px;
}

.custom-tooltip .custom-tooltip-description {
  margin-top: 5px;
  color: var(--textSubColor);
  line-height: 1.25rem;
  display: block;
  white-space: normal;
  word-break: break-word;
}

.custom-tooltip .custom-tooltip-cost {
  position: absolute;
  top: 5px;
  right: 7px;
  color: var(--activeColor);
  white-space: nowrap;
}
