input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: calc(100% - 10px);
  margin: 5px;
  height: 1.2rem;
  --bg: var(--sliderBgColor);
  --accent: var(--activeColor);
  background: var(--bg);
  color: var(--accent);
  outline: none;
  padding: 0;
  border-radius: 0; /* square corners */
}

/* WebKit Track */
input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 0;
  background: transparent;
}

/* Firefox Track */
input[type="range"]::-moz-range-track {
  border-radius: 0;
  background: transparent;
}

/* Hide thumb entirely */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  background: transparent;
}

input[type="range"]::-moz-range-thumb {
  width: 0;
  height: 0;
  background: transparent;
}

/* Hide the default scrollbar completely (WebKit + Firefox) */
::-webkit-scrollbar {
  display: none;
}

input[type="text"] {
  width: calc(100% - 10px);
  margin: 5px;
  --bg: var(--bg-2);
  --accent: var(--activeColor);
  background: var(--bg);
  color: var(--accent);

  border-left: 2px var(--bg-1) solid;
  border-top: 2px var(--bg-1) solid;
  border-right: 2px var(--sliderBgColor) solid;
  border-bottom: 2px var(--sliderBgColor) solid;

  outline: none;
  padding: 6px 10px;

  border-radius: 0;
}

input[type="text"]input[type="text"] {
  width: calc(100% - 10px);
  margin: 5px;
  --bg: var(--bg-2);
  --accent: var(--activeColor);
  background: var(--bg);
  color: var(--accent);

  border-left: 2px var(--bg-1) solid;
  border-top: 2px var(--bg-1) solid;
  border-right: 2px var(--sliderBgColor) solid;
  border-bottom: 2px var(--sliderBgColor) solid;

  outline: none;
  padding: 6px 10px;

  border-radius: 0;
}

input[type="text"]:focus {
  border-left: 2px var(--sliderBgColor) solid;
  border-top: 2px var(--sliderBgColor) solid;
  border-right: 2px var(--bg-1) solid;
  border-bottom: 2px var(--bg-1) solid;
}
